/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

nav li img {
	width: 50%;
}

nav li a:hover,li:hover,#login input[type="mdp-forgot"] {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#login {
	margin: 112px 0 355px 0;
}

#contact > *,#login > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;

}

#btn-login {
	cursor: pointer;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin-left: auto;
	margin-right: auto;
	margin-top : 36px;
	margin-bottom: 26px;
	padding: 10px 0 10px 0;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
}

#login input[type="mdp-forgot"]{
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #3d3d3d;
	border: none;
	text-align: center;
	box-shadow: none;
	background-color: transparent;
	text-decoration: underline;
	height: auto;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.login__container, .login__fields {
	display: flex;
	flex-direction: column;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: content-box;
}

#filtres-container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.filtre-cat {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1rem;
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: transparent;
	margin-bottom: 50px;
	min-width: 100px;
	text-align: center;
	padding: 8px 10px 8px 10px;
	border-radius: 60px ;
}

.filtre-cat-selected {
	color: #fff;
	border: 1px solid #1D6154;
	background-color: 1D6154;
}

.filtre-cat:hover {
	color: #fff;
	border: 1px solid #0E2F28;
	background-color: #0E2F28;
}


#top-edit-mode-container {
	height: 30px;
}

#top-edit-mode {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#top-edit-mode button {
	border-radius: 20px;
	color: #000;
	background-color: #fff;
	padding: 10px 30px 10px 30px;
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
}

#modif-figure, #modif-intro, #modif-portfolio {
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

#modif-figure i, #modif-intro i, #modif-portfolio i {
margin-right: 8px;
} 

#modif-figure {
	margin: 19px 0 0 57px;
}

#modif-intro {
margin: 0;
margin-top: -50px;	
}

#modif-portfolio {
	display: block;
	cursor: pointer;
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: 130px;
	margin-top: 10px;
}

#modale-bg {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	z-index: 500;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modale-window {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 32px 36px 48px 36px;
	background-color: #fff;
	width: 630px;
	opacity: 1;
	border-radius: 10px;
}

#modale-nav-icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

#closingX, #modale-back {
	cursor: pointer;
}
#modale-title {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 46px;
}

#miniatures {
	width: 420px;
	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
}

.modale-separator {
	width: 420px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B3B3B3;
	margin-bottom: 38px;
}

#modale-btn, #modale-btn-valid {
	cursor: pointer;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 10px 50px 10px 50px;
	text-align: center;
	border-radius: 60px ;
	border: none;
}

#modale-btn-valid {
	margin-bottom: 7px;
}

#modale-suppr {
	text-align: center;
	color: #D65353;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
}

.miniature {
	width: 76px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow:hidden ;
}

.miniature-fig {
	height: 102px;
	ooverflow: hidden;
	object-fit: contain;
	object-position: center;
}

.miniature-fig img {
	height: 100%;
	z-index: -1;
}

.miniature p {
	vertical-align: bottom;
}

.fa-trash-can {
	z-index: 550;
	cursor: pointer;
	position: relative;
	top: -100px;
	left: 38px;
	color: #fff;
	background-color: #000;
	padding: 4px;
	font-size: .65em;
	border-radius: 2px;
}

.fa-arrows-up-down-left-right {
	z-index: 555;
	opacity: 0;
	position: relative;
	top: -100px;
	left: 35px;
	color: #fff;
	background-color: #000;
	padding: 4px;
	font-size: .65em;
	border-radius: 2px;
}

.miniature:hover .fa-arrows-up-down-left-right {
	opacity: 1;
}

/*

<div id="miniature-1" class="miniature">
        <figure id="modale-mini-fig-1" class="miniature-fig">
            <img src="">
            <i class="fa-solid fa-arrows-up-down-left-right"></i>
            <i class="fa-solid fa-trash-can"></i>  
        </figure>
    <p>éditer</p>
    </div>

*/

